.primary-button {
    background-color: #9ca3af ;
    color: #2d5758;
    border: none;
    border-radius: 5px;
    padding: 5px 45px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    transition: border-bottom-color 0.3s;
    appearance: button;
}

.primary-button:hover {
    color: white;
    background-color: #111827 ;
}

.cancel-button {
    background-color: lightcoral ;
    color: #2d5758;
    border: none;
    border-radius: 5px;
    padding: 5px 45px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    transition: border-bottom-color 0.3s;
    appearance: button;
}

.cancel-button:hover {
    color: white;
    background-color: red ;
}

.primary-check{
    border-radius: 5px;
    accent-color: #111827;
}

.primary-check:checked {
    background-color: #111827;;
}

.primary-check:hover{
    background-color: #111827;
}

.primary-input {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
}

.primary-input:focus {
    border-color: #111827;
    box-shadow: 0 0 0 2px #11182733;
    outline: none;
}

.primary-textarea {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;

    font-family: monospace;
    font-size: 0.875rem;

    transition: all 0.15s ease;
}

.primary-textarea:focus {
    border-color: #111827;
    box-shadow: 0 0 0 3px rgba(17, 24, 39, 0.15);
    outline: none;
}

.text-error {
    font-size: 0.875rem; /* text-sm */
    color: #ef4444;      /* text-red-500 */
    margin-top: 0.25rem; /* mt-1 */
}

.text-title {
    font-size: larger;
    font-weight: bolder;
}

